[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "retentionflow"]
	path = retentionflow
	url = https://github.com/cran/retentionflow
